---
import ResourceHeroSection from "@/components/heroSections/ResourceHeroSection.vue";
import {
  getAllAuthors,
  getAllCategories,
  getAuthorDetails,
  getBlogsByPaginationAndAuthor,
} from "@/utils/api/blogs";
import CustomSuggestionsWrapper from "@/components/wrapper/CustomSuggestionsWrapper.vue";
import Layout from "@/layouts/Layout.astro";
import BlogsListingWrapper from "@/components/wrapper/BlogsListingWrapper.vue";

// 🚀 Step 1: Generate dynamic paths for categories
export async function getStaticPaths() {
  const authors = await getAllAuthors();
  return authors?.map((author: any) => ({
    params: { author: author.slug },
  }));
}

// 🚀 Step 2: Get `categorySlug` from URL
const { author } = Astro.params;
const currentPage = 1;
const { blogs, totalBlogs } = await getBlogsByPaginationAndAuthor(
  currentPage,
  author
);


const auth = await getAuthorDetails(author);

// ✅ Fetch other required data
const suggestionData = await getAllCategories();

const metaObj = {
  title:
    "Author | Blog | Open Source Observability Platform for Logs, Metrics, Traces, and More – Your Ultimate Dashboard for Alerts and Insights",
};
---

<!-- ✅ Render Category-Based Blogs -->
<Layout metaObj={metaObj}>
  <ResourceHeroSection
    title={"Author"}
    description={`Post by the author: ${auth?.name}`}
  />

  <!-- <BlogsDataWrapper data={loadcaseStudyData} client:load /> -->
  <section class="container mx-auto px-4 md:px-6 lg:px-8 xl:px-11">
    <!-- CustomSuggestions Section -->
    <div class="py-3 md:py-6">
      <CustomSuggestionsWrapper
        suggestions={suggestionData.slice(
          0,
          Math.min(15, suggestionData.length)
        ) || []}
        type="blog"
        client:load
      />
    </div>

    <BlogsListingWrapper
      type="blog"
      blogsData={blogs}
      totalItems={totalBlogs}
      client:load
      subType="author"
      identifier={author}
    />
    <!-- 
  <TilesWithTitleWrapper
    title={cardHeader.title}
    subtitle={cardHeader.description}
    items={cardData}
  /> -->
  </section>
</Layout>
