---
import Layout from "../../layouts/Layout.astro";
import BlogDetailsHeroSectionWrapper from "../../components/wrapper/BlogDetailsHeroSectionWrapper.vue";
import BlogDetailContentWrapper from "../../components/wrapper/BlogDetailContentWrapper.vue";
import SingleAuthorDetails from "../../components/blogs/SingleAuthorDetails.vue";
import CaseStudyWrapper from "../../components/wrapper/CaseStudyWrapper.vue";
import fetchApi from "../../utils/strapi";
import { getAllBlogsCategoriesAndAuthors, getBlogsBySlug, getCaseStudies } from "@/utils/cache";
export async function getStaticPaths() {
  const PageData: string[] = await fetchApi({
    endpoint: "api/blog-pages",
    query: { populate: "*", "pagination[pageSize]": 100 },
  });
  const slugs = PageData?.data;
  return slugs.map((it: any) => ({
    params: { slug: it.slug },
  }));
}
const { slug }: any = Astro.params;
await getAllBlogsCategoriesAndAuthors();
const SlugData = getBlogsBySlug(slug) || {}
const loadcaseStudyData = getCaseStudies();
---

<Layout>
  <BlogDetailsHeroSectionWrapper
    title={SlugData?.[0].title}
    bottomImage={SlugData?.[0].image?.formats?.large?.url ||
      SlugData?.[0].image?.url}
    client:load
    suggestions={SlugData?.[0].categories}
  />
  <BlogDetailContentWrapper client:load content={SlugData?.[0].content} />
  <SingleAuthorDetails type="blog" authors={SlugData?.[0].authors} client:load />
  <div class="py-5">
    <CaseStudyWrapper
      items={loadcaseStudyData}
      client:load
      primaryButton={{
        text: "See All Blogs",
        link: "/blog",
      }}
    />
  </div>
</Layout>
