---
import Layout from "@/layouts/Layout.astro";
import {
  getAllBlogs,
  getAuthorDetails,
  getBlogsBySlug,
} from "@/utils/api/blog";
import BlogcontentWrapper from "@/components/blog/BlogcontentWrapper.vue";
import BlogDetailsHeroSection from "@/components/blog/BlogDetailsHeroSection.vue";
import BlogSection from "@/components/blog/BlogSection.vue";
import { BlogResources } from "@/utils/constant";
export async function getStaticPaths() {
  const slugs = (await getAllBlogs()).filter((blog) => !blog.caseStudies);
  return slugs.map((it: any) => ({
    params: { slug: it.slug },
  }));
}

const { slug }: any = Astro.params;
const SlugData = (await getBlogsBySlug(slug)) || {};
const authorsSlugs = SlugData.authors || [];

const author = await Promise.all(
  authorsSlugs.map(async (authorSlug) => {
    return await getAuthorDetails(authorSlug.slug);
  })
);
const allBlogs = (await getAllBlogs()).filter((blog) => !blog.customerStories);

const metaObj = {
  title: SlugData?.seo?.title || SlugData?.title,
  description: SlugData?.seo?.description || SlugData?.description,
  image: SlugData?.seo?.image?.url || SlugData?.image?.url,
  canonical: SlugData?.seo?.canonical,
};
---

<Layout metaObj={metaObj}>
  <BlogDetailsHeroSection
    type="blog"
    title={SlugData?.title}
    blogImage={SlugData?.image?.url || SlugData?.image?.url}
    tags={SlugData?.tags || []}
    author={author}
    publishDate={new Intl.DateTimeFormat("en-US", {
      weekday: "long",
      year: "numeric",
      month: "long",
      day: "2-digit",
    }).format(new Date(SlugData?.publishDate))}
    content={SlugData?.content}
    shareUrl={`/blog/${slug}`}
    client:load
  />
  <BlogcontentWrapper
    type="blog"
    client:load
    content={SlugData?.content}
    authors={author}
    blogImage={SlugData?.image || SlugData?.image}
  />
  <div class="-mt-18 lg:-mt-24">
    <BlogSection
      data={allBlogs.slice(0, 10)}
      sectionData={BlogResources}
      client:load
    />
  </div>
  <!-- bannerData={BannerData?.data} -->
</Layout>
