---
import Layout from "../../layouts/Layout.astro";
import BlogDetailsHeroSectionWrapper from "../../components/wrapper/BlogDetailsHeroSectionWrapper.vue";
import BlogDetailContentWrapper from "../../components/wrapper/BlogDetailContentWrapper.vue";
import SingleAuthorDetails from "../../components/blogs/SingleAuthorDetails.vue";
import CaseStudyWrapper from "../../components/wrapper/CaseStudyWrapper.vue";
import {
  getAllBlogs,
  getAuthorDetails,
  getBlogsBySlug,
  getCaseStudies,
} from "@/utils/api/blogs";
export async function getStaticPaths() {
  const slugs = await getAllBlogs();
  return slugs.map((it: any) => ({
    params: { slug: it.slug },
  }));
}
const { slug }: any = Astro.params;
const SlugData = (await getBlogsBySlug(slug)) || {};
const authorsSlugs = SlugData.authors || [];

const author = await Promise.all(
  authorsSlugs.map(async (authorSlug) => {
    return await getAuthorDetails(authorSlug.slug);
  })
);
const loadcaseStudyData = await getCaseStudies();
const metaObj = {
  title: SlugData?.title,
};
---

<Layout metaObj={metaObj}>
  <BlogDetailsHeroSectionWrapper
    type="blog"
    title={SlugData?.title}
    bottomImage={SlugData?.image?.url || SlugData?.image?.url}
    client:load
    suggestions={SlugData?.categories || []}
    activity={[
      author[0].name,
      new Intl.DateTimeFormat("en-US", {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "2-digit",
      }).format(new Date(SlugData?.publishDate)),
    ]}
  />
  <BlogDetailContentWrapper client:load content={SlugData?.content} authors={author}/>
  
  <!-- <div class="py-5">
    <CaseStudyWrapper
      items={loadcaseStudyData}
      client:load
      primaryButton={{
        text: "See All Blogs",
        link: "/blog",
      }}
    />
  </div> -->
</Layout>
