---
import Layout from "../../layouts/Layout.astro";
import ResourceHeroSection from "../../components/heroSections/ResourceHeroSection.vue";
import CaseStudyGlassCardWrapper from "../../components/wrapper/CaseStudyGlassCardWrapper.vue";
import TilesWithTitleWrapper from "../../components/wrapper/TilesWithTitleWrapper.vue";
import BlogsListingWrapper from "../../components/wrapper/BlogsListingWrapper.vue";
import CaseStudyWrapper from "../../components/wrapper/CaseStudyWrapper.vue";
import BlogPagination from "../../components/blogs/BlogPagination.vue";
import {
  getAllBlogs,
  getAllCategories,
  getBlogsByPagination,
  getCaseStudies,
} from "@/utils/api/blogs";
import { getTotalCounts } from "@/utils/cache";
import CustomSuggestionsWrapper from "@/components/wrapper/CustomSuggestionsWrapper.vue";

// Get the current page from URL parameters
const { page } = Astro.params;
const currentPage = page ? parseInt(page) : 1;
const itemsPerPage = 50;

// Fetch blogs data with the current page
const blogsData = await getBlogsByPagination(currentPage, itemsPerPage);
const allBlogsData = (await getAllBlogs()).filter((blog) => !blog.caseStudies);
const suggestionData = await getAllCategories();

const loadcaseStudyData = await getCaseStudies();

const count = await getTotalCounts();

const cardHeader = {
  title: "Additional Learning Resources",
  description:
    "Stay ahead of the curve and optimize your observability strategy with our learning resources.",
};

const cardData = [
  {
    icon: "/resources/64pxComponent.svg",
    title: "Case Studies",
  },
];

const metaObj = {
  title: "OpenObserve Blog | Observability News & Best Practices",
  description:
    "Stay updated with the latest in observability, monitoring best practices, and platform updates. Read technical guides and success stories from the OpenObserve team.",
};
---

<Layout metaObj={metaObj}>
  <ResourceHeroSection
    title="Blog"
    description="Explore latest insights and updates"
  />
  <!-- <CaseStudyWrapper data={loadcaseStudyData} client:load /> -->

  <!-- categories section -->

  <!-- CustomSuggestions Section -->
  <div class="py-3 md:py-6">
    <CustomSuggestionsWrapper
      suggestions={suggestionData.slice(
        0,
        Math.min(15, suggestionData.length)
      ) || []}
      type="blog"
      client:load
    />
  </div>

  <!-- Blog Listing Component -->
  <div id="blogListingContainer">
    <BlogsListingWrapper
      searchBar
      blogsData={blogsData}
      allBlogData={allBlogsData}
      totalItems={count.blogsCount}
      type="blog"
      currentPage={currentPage}
      shouldPaginate={page?.length > 1}
      client:load
    />
  </div>

  <!-- <div>
      <BlogPagination
        totalItems={count.blogsCount}
        itemsPerPage={itemsPerPage}
        currentPage={currentPage}
        client:load
        type="blog"
      />
    </div> -->
</Layout>
