---
import {
  getAllBlogs,
  getAllCategories,
  itemsPerPage,
  getAllAuthors,
  getBlogsByPaginationAndAuthor
} from "@/utils/api/blogs";
import CustomSuggestionsWrapper from "@/components/wrapper/CustomSuggestionsWrapper.vue";
import Layout from "@/layouts/Layout.astro";
import ResourceHeroSection from "@/components/heroSections/ResourceHeroSection.vue";
import BlogsListingWrapper from "@/components/wrapper/BlogsListingWrapper.vue";

export async function getStaticPaths() {
  const authors = await getAllAuthors();
  const totalBlogs = await getAllBlogs();

  let paths = [];

  for (const author of authors) {
    const authorsBlogs = totalBlogs.filter((blog) =>
      blog.categories.some((it) => it.id === author.id)
    );

    const totalPages = Math.ceil(authorsBlogs.length / itemsPerPage);

    for (let page = 1; page <= totalPages; page++) {
      paths.push({
        params: { author: author.slug, page: page.toString() },
      });
    }
  }

  return paths;
}

// Get the current page from Astro props
const { page, author } = Astro.params;
const currentPage = parseInt(page);

if (isNaN(currentPage) || currentPage < 1) {
  throw Astro.redirect("/404");
}

// Fetch paginated blogs for the current page
const blogsData = (
  await getBlogsByPaginationAndAuthor(currentPage, itemsPerPage, author)
).filter((blog) => !blog.caseStudies);

// if (category) {
//   blogsData = blogs.filter((blog) =>
//     blog.categories.some((cat) => cat.id === category.id)
//   ).filter((blog) => !blog.caseStudies);
// } else {
// }
const suggestionData = await getAllCategories();
const metaObj = {
  title:
    "Author | Blog | Open Source Observability Platform for Logs, Metrics, Traces, and More – Your Ultimate Dashboard for Alerts and Insights",
};
---

<!-- ✅ Render Category-Based Blogs -->
<Layout metaObj={metaObj}>
  <ResourceHeroSection
    title="Blog"
    description={`Post by the author: ${author}`}
  />

  <!-- <BlogsDataWrapper data={loadcaseStudyData || []} client:load /> -->

  <section class="container mx-auto px-4 md:px-6 lg:px-8 xl:px-11">
    <!-- CustomSuggestions Section -->
    <div class="py-3 md:py-6">
      <CustomSuggestionsWrapper
        suggestions={suggestionData.slice(
          0,
          Math.min(15, suggestionData.length)
        ) || []}
        type="blog"
        client:load
      />
    </div>

    <BlogsListingWrapper
      type="blog"
      blogsData={blogsData}
      client:load
      subType="author"
      identifier={author}
      shouldPaginate={blogsData?.length > 10}
    />
    <!-- {...paginationProps} -->

    <!-- <div>
      <BlogPagination
        totalItems={count.blogsCount} 
        itemsPerPage={itemsPerPage}
        currentPage={1}
        client:load
        type="blog"
      />
    </div> -->

    <!-- 
  <TilesWithTitleWrapper
    title={cardHeader.title}
    subtitle={cardHeader.description}
    items={cardData}
  /> -->
  </section>
</Layout>
