---
import Layout from "../../../layouts/Layout.astro";
import ResourceHeroSection from "../../../components/heroSections/ResourceHeroSection.vue";
import BlogsListingWrapper from "../../../components/wrapper/BlogsListingWrapper.vue";
import TilesWithTitleWrapper from "../../../components/wrapper/TilesWithTitleWrapper.vue";
import BlogsDataWrapper from "../../../components/wrapper/BlogsDataWrapper.vue";
import {
  getAllBlogs,
  getAllCategories,
  getCaseStudies,
  itemsPerPage,
} from "@/utils/api/blogs";
import CustomSuggestionsWrapper from "@/components/wrapper/CustomSuggestionsWrapper.vue";
import BlogPagination from "@/components/blogs/BlogPagination.vue";
import { getTotalCounts } from "@/utils/cache";

// 🚀 Fetch All Categories and Blogs
export async function getStaticPaths() {
  // Map each category to its related blogs
  const categories = await getAllCategories();
  const blogs = await getAllBlogs();
  const categoryMap = categories?.map((category) => ({
    params: { tag: category.slug }, // Correct attribute access for category
    props: {
      category,
      blogs: blogs.filter((blog) =>
        blog.categories.some(
          (cat) => cat.id === category.id // Ensure correct comparison
        )
      ),
    },
  }));

  return categoryMap;
}

// 🚀 Get Category Slug from URL
const { tag } = Astro.params;
const { category, blogs } = Astro.props;
let blogsData = [];
if (category) {
  blogsData = blogs.filter((blog) =>
    blog.categories.some((cat) => cat.id === category.id)
  );
} else {
}

// ✅ Fetch Additional Data
const suggestionData = await getAllCategories();

const loadcaseStudyData = await getCaseStudies();
const allBlogsData = await getAllBlogs();
const count = await getTotalCounts();

const shouldPaginate = blogsData.length > 50;

const paginationProps = shouldPaginate
  ? {
      totalItems: blogsData.length,
    }
  : {};

// 🔹 Additional Card Data
const cardHeader = {
  title: "Additional Learning Resources",
  description:
    "Stay ahead of the curve and optimize your observability strategy with our learning resources.",
};

const cardData = [
  { icon: "/resources/64pxComponent.svg", title: "Case Studies" },
];

const metaObj = {
  title:
    "Tag | Blog | Open Source Observability Platform for Logs, Metrics, Traces, and More – Your Ultimate Dashboard for Alerts and Insights",
};
---

<!-- ✅ Render Category-Based Blogs -->
<Layout metaObj={metaObj}>
  <ResourceHeroSection
    title="Blog"
    description={`Post by the category: ${category?.name ?? tag}`}
  />

  <!-- <BlogsDataWrapper data={loadcaseStudyData || []} client:load /> -->

  <section class="container mx-auto px-4 md:px-6 lg:px-8 xl:px-11">
    <!-- CustomSuggestions Section -->
    <div class="py-3 md:py-6">
      <CustomSuggestionsWrapper
        suggestions={suggestionData.slice(0, Math.min(15, suggestionData.length)) || []}
        type="blog"
        client:load
      />
    </div>

    <BlogsListingWrapper
      type="blog"
      blogsData={blogsData}
      client:load
      {...paginationProps}
    />

    <!-- <div>
      <BlogPagination
        totalItems={count.blogsCount} 
        itemsPerPage={itemsPerPage}
        currentPage={1}
        client:load
        type="blog"
      />
    </div> -->

    <!-- 
  <TilesWithTitleWrapper
    title={cardHeader.title}
    subtitle={cardHeader.description}
    items={cardData}
  /> -->
  </section>
</Layout>
