---
import CustomBanner from "../../../components/core/CustomBanner.vue";
import CustomSection from "../../../components/core/CustomSection.vue";
import CompanyHeroSection from "../../../components/heroSections/CompanyAboutUsHeroSection.vue";
import LeftSideCard from "../../../components/cardComponent/LeftSideCard.vue";
import RightSideCard from "../../../components/cardComponent/RightSideCard.vue";
import Heading from "../../../components/core/Heading.vue";
import CustomFeatureCard from "../../../components/cards/CustomFeatureCard.vue";
import Layout from "../../../layouts/Layout.astro";
import CustomStoryWrapper from "../../../components/wrapper/CustomStoryWrapper.vue";
import HomeWhyO2Wrapper from "../../../components/wrapper/HomeWhyO2Wrapper.vue";
import BlogWrapper from "../../../components/wrapper/BlogWrapper.vue";
import CaseStudyWrapper from "../../../components/wrapper/CaseStudyWrapper.vue";
import CustomSeprater from "../../../components/core/CustomSeprater.vue";

const cards = [
  {
    image: "/blogColor-1.png",
    title: "Case Study 1",
    description:
      "Company A: Reducing MTTR by 40%. Learn how Company A leveraged OpenObserver's real-time alerts...",
    btnTitle: "LEARN MORE",
    link: "#",
  },
  {
    image: "/blogColor-2.png",
    title: "Scaling Observability for Growth",
    description:
      "Discover how Company B scaled its observability infrastructure while reducing costs by 30%.",
    btnTitle: "LEARN MORE",
    link: "#",
  },
  {
    image: "/blogColor-3.png",
    title: "Enhancing Security Monitoring",
    description:
      "See how Company C centralized its security logs and improved threat detection with OpenObserve.",
    btnTitle: "LEARN MORE",
    link: "#",
  },
];

const cardData2 = [
  {
    icon: "/Performance.svg",
    title: "Logs, Metrics, and Traces Integration",
    description:
      "Consolidate all observability data types in one place for seamless monitoring and analysis.",
  },
  {
    icon: "/Performance.svg",
    title: "Cost efficiency",
    description:
      "Save up to 10x on overall costs compared to traditional observability tools.",
  },
  {
    icon: "/Performance.svg",
    title: "Feature set",
    description:
      "Reduce storage expenses by up to 140x with advanced compression techniques.",
  },
  {
    icon: "/Performance.svg",
    title: "Cost efficiency",
    description:
      "Save up to 10x on overall costs compared to traditional observability tools.",
  },
  {
    icon: "/Performance.svg",
    title: "Feature set",
    description:
      "Reduce storage expenses by up to 140x with advanced compression techniques.",
  },
];
const headingData = {
  title: "Our Platform",
  subtitle:
    "OpenObserve offers a unified platform that simplifies the collection, processing, and visualization of observability data. Key features include:",
};

const ourStoryData = {
  title: "Our Story",
  direction: "right",
  directionBG: "bottom",
  image: "/ourStory.svg",
  description:
    "Founded in 2022 and headquartered in San Francisco, California, OpenObserve was born out of the need for an efficient, scalable, and cost-effective observability platform. Recognizing the challenges organizations face with existing tools—such as high storage costs, complex scaling, and fragmented data monitoring—we set out to create a solution that addresses these issues head-on.",
};

const ourStoryData2 = {
  title: "Our Commitment",
  direction: "left",
  directionBG: "top",
  image: "/ourStory.svg",
  // description:
  //   "At OpenObserve, we are dedicated to building the best observability platform for developers and operators. We believe in the power of open source and thrive on fostering a vibrant community around our products. As a remote-first company with a globally distributed team, we embrace diversity and collaboration to drive innovation and deliver exceptional solutions to our users. Join us on our journey to revolutionize observability and empower organizations to harness the full potential of their data.",
  description:"Founded in 2022 and headquartered in San Francisco, California, OpenObserve was born out of the need for an efficient, scalable, and cost-effective observability platform. Recognizing the challenges organizations face with existing tools—such as high storage costs, complex scaling, and fragmented data monitoring—we set out to create a solution that addresses these issues head-on."
};
---

<Layout>
  <div class="mt-10">
    <CompanyHeroSection
      client:load
      title="About Us"
      subtitle="OpenObserve is an innovative open-source observability platform that unifies the monitoring of logs, metrics, and traces into a single, cohesive system. Our mission is to empower organizations to optimize their systems, streamline operations, and make data-driven decisions by providing a comprehensive and user-friendly observability solution."
    />
  </div>
  <CustomSeprater />
  <CustomSection>
  <CustomStoryWrapper
    title={ourStoryData.title}
    image={ourStoryData.image}
    description={ourStoryData.description}
    direction={ourStoryData.direction}
    directionBG={ourStoryData.directionBG}
    client:load
  />
</CustomSection>
  <HomeWhyO2Wrapper
  title={headingData.title}
  description={headingData.subtitle}
  items={cardData2}
  noOfGridColumn={2}
  client:load
/>
 

  <CustomStoryWrapper
    title={ourStoryData2.title}
    image={ourStoryData2.image}
    description={ourStoryData2.description}
    direction={ourStoryData2.direction}
    directionBG={ourStoryData2.directionBG}
    client:load
  />

  <!-- <BlogWrapper
  items={cards}
  title="Discover Open Observe in action"
  description="From agile startups to global enterprises, open observe empowers businesses with advanced observability solutions. Explore real-world case studies to see how companies are driving, efficiency and innovation."
  client:load
/> -->
  <CaseStudyWrapper
    items={cards}
    title="Want to know more? Chek out these Blogs."
    description="Dive deeper into observability best practices and learn how OpenObserve can transform your monitoring strategy."
    />

  <CustomBanner
    title="Fair and transparent pricing"
    subtitle="Only pay for what you use."
    buttons={[
      { text: "View Pricing Plans", variant: "white" },
      { text: "Get Started for Free", variant: "secondary" },
    ]}
  />
</Layout>
