---
import CaseStudiesDetailWrapper from "@/components/case-studies/CaseStudiesDetailWrapper.vue";
import CaseStudyHerosection from "@/components/case-studies/CaseStudyHerosection.vue";
import Layout from "@/layouts/Layout.astro";
import RelatedCaseStudySection from "@/components/case-studies/RelatedCaseStudySection.vue";
import {
  getAuthorDetails,
  getBlogsBySlug,
  getAllCaseStudies,
} from "@/utils/api/blog";
import { CaseStudiesResources } from "@/utils/constant";

export async function getStaticPaths() {
  const slugs = await getAllCaseStudies();
  return slugs.map((it: any) => ({
    params: { slug: it.slug },
  }));
}

const { slug }: any = Astro.params;
const SlugData = (await getBlogsBySlug(slug)) || {};
const authorsSlugs = SlugData.authors || [];

const author = await Promise.all(
  authorsSlugs.map(async (authorSlug: { slug: any }) => {
    return await getAuthorDetails(authorSlug.slug);
  })
);
const allCaseStudies = await getAllCaseStudies();
const metaObj = {
  title: SlugData?.title,
};
---

<Layout metaObj={metaObj}>
  <CaseStudyHerosection
    title={SlugData?.title}
    caseStudyImage={SlugData?.image?.url || SlugData?.image?.url}
    tags={SlugData?.categories || []}
    author={author}
    publishDate={new Intl.DateTimeFormat("en-US", {
      weekday: "long",
      year: "numeric",
      month: "long",
      day: "2-digit",
    }).format(new Date(SlugData?.publishDate))}
    content={SlugData?.content}
    type="customer-stories"
    client:load
  />
  <div class="">
    <CaseStudiesDetailWrapper content={SlugData?.content}  caseStudyImage={SlugData?.image?.url || SlugData?.image?.url} client:load />
  </div>
  <div class="pt-20">
    <RelatedCaseStudySection
      data={allCaseStudies.slice(0, 10)}
      sectionData={CaseStudiesResources}
      client:load
    />
  </div>
</Layout>
