---
import Layout from "../../../layouts/Layout.astro";
import ResourceHeroSection from "../../../components/heroSections/ResourceHeroSection.vue";
import BlogsListingWrapper from "../../../components/wrapper/BlogsListingWrapper.vue";
import { getTotalCounts } from "@/utils/cache";
import {
  getAllResourceBlogs,
  getAllResourceCategories,
  getResourceBlogsByPagination,
} from "@/utils/api/resources";
import CustomSuggestionsWrapper from "@/components/wrapper/CustomSuggestionsWrapper.vue";
import { ITEMS_PER_PAGE } from "@/utils/api/constant";

// Generate static paths for pagination
export async function getStaticPaths() {
  const totalBlogs = (await getTotalCounts()).resourceBlogsCount;

  const totalPages = Math.ceil(totalBlogs / ITEMS_PER_PAGE);

  return Array.from({ length: totalPages }, (_, index) => ({
    params: { page: (index + 1).toString() },
  }));
}

// Get the current page from Astro props
const { page } = Astro.params;
const currentPage = parseInt(page);

// Handle invalid page numbers
if (isNaN(currentPage) || currentPage < 1) {
  throw Astro.redirect("/404");
}

// Fetch paginated blogs for the current page
const blogsData = await getResourceBlogsByPagination(
  currentPage,
  ITEMS_PER_PAGE
);
const allArticles = await getAllResourceBlogs();
// Fetch categories for suggestions
const suggestionData = await getAllResourceCategories();
const count = await getTotalCounts();

const metaObj = {
  title:
    "Resources | Open Source Observability Platform for Logs, Metrics, Traces, and More – Your Ultimate Dashboard for Alerts and Insights",
  description: "Resources Posts",
};
---

<Layout metaObj={metaObj}>
  <ResourceHeroSection
    title="Resources"
    description="Explore latest insights and updates"
  />
  <div class="py-3 md:py-6">
    <CustomSuggestionsWrapper
      suggestions={suggestionData.slice(
        0,
        Math.min(15, suggestionData.length)
      ) || []}
      type="articles"
      client:load
    />
  </div>
  <BlogsListingWrapper
    searchBar
    type="articles"
    blogsData={blogsData}
    allBlogData={allArticles}
    currentPage={currentPage}
    totalItems={count.resourceBlogsCount}
    client:load
  />

  <!-- <TilesWithTitleWrapper
    title={cardHeader.title}
    subtitle={cardHeader.description}
    items={cardData}
  /> -->
</Layout>
