---
import Layout from "../../../layouts/Layout.astro";
import ResourceHeroSection from "../../../components/heroSections/ResourceHeroSection.vue";
import BlogsListingWrapper from "../../../components/wrapper/BlogsListingWrapper.vue";
import TilesWithTitleWrapper from "../../../components/wrapper/TilesWithTitleWrapper.vue";
import BlogsDataWrapper from "../../../components/wrapper/BlogsDataWrapper.vue";
import { getTotalCounts } from "@/utils/cache";
import {
  getAllResourceCategories,
  getResourceBlogsByPagination,
} from "@/utils/api/resources";
import { getCaseStudies } from "@/utils/api/blogs";
import CustomSuggestionsWrapper from "@/components/wrapper/CustomSuggestionsWrapper.vue";

const itemsPerPage = 50;

// Generate static paths for pagination
export async function getStaticPaths() {
  const totalBlogs = (await getTotalCounts()).blogsCount;

  const totalPages = Math.ceil(totalBlogs / 50);

  return Array.from({ length: totalPages }, (_, index) => ({
    params: { page: (index + 1).toString() },
  }));
}

// Get the current page from Astro props
const { page } = Astro.params;
const currentPage = parseInt(page);

// Handle invalid page numbers
if (isNaN(currentPage) || currentPage < 1) {
  throw Astro.redirect("/404");
}

// Fetch paginated blogs for the current page
const blogsData = await getResourceBlogsByPagination(currentPage, itemsPerPage);
// Fetch categories for suggestions
const suggestionData = await getAllResourceCategories();

// Fetch case studies
const caseStudyData = await getCaseStudies();

const count = await getTotalCounts();

const metaObj = {
  title:
    "Resources | Open Source Observability Platform for Logs, Metrics, Traces, and More – Your Ultimate Dashboard for Alerts and Insights",
  description: "Resources Posts",
};
---

<Layout metaObj={metaObj}>
  <ResourceHeroSection
    title="Resources"
    description="Explore latest insights and updates"
  />

  <!-- {
    caseStudyData?.length > 0 && (
      <BlogsDataWrapper
        data={caseStudyData || []}
        title="Case Studies"
        subtitle="Learn from real-world implementations"
        client:load
      />
    )
  } -->
  <div class="py-3 md:py-6">
    <CustomSuggestionsWrapper
      suggestions={suggestionData.slice(0, Math.min(15, suggestionData.length)) || []}
      type="articles"
      client:load
    />
  </div>
  a
  <BlogsListingWrapper
    searchBar
    type="articles"
    blogsData={blogsData}
    currentPage={currentPage}
    totalItems={count.blogsCount}
    shouldPaginate={currentPage >= 1 }
    client:load
  />

  <!-- <TilesWithTitleWrapper
    title={cardHeader.title}
    subtitle={cardHeader.description}
    items={cardData}
  /> -->
</Layout>
