---
import Header from "../components/header/Header.vue";
import Footer from "../components/footerComponent/Footer.vue";
import NavData from "../content/header.json";
import "@/styles/global.css";
import { SEO } from "astro-seo";
const footerData = {
  sections: [
    {
      title: "Platform",
      items: [
        { name: "Logs", link: "/platform/logs" },
        { name: "Metrics", link: "/platform/metrics" },
        { name: "Traces", link: "/platform/traces" },
        { name: "Frontend Monitoring", link: "/platform/frontend-monitoring" },
        { name: "Pipelines", link: "/platform/pipelines" },
        { name: "Alerts", link: "/platform/alerts" },
        {
          name: "Visualizations & Dashboard",
          link: "/platform/visualization-and-dashboards",
        },
      ],
    },
    {
      title: "Solutions",
      items: [
        { name: "Azure Monitoring", link: "/solutions/azure-monitoring" },
        { name: "AWS Monitoring", link: "/solutions/aws-monitoring" },
        { name: "GCP Monitoring", link: "/solutions/gcp-monitoring" },
        {
          name: "Kubernetes Observability",
          link: "/solutions/kubernetes-observability",
        },
        {
          name: "Database Monitoring",
          link: "/solutions/database-monitoring",
        },
        { name: "OpenTelemetry", link: "/solutions/opentelemetry" },
        {
          name: "DevOps & SRE",
          link: "/solutions/devops-sre",
        },
        {
          name: "Development Teams",
          link: "/solutions/development-teams",
        },
      ],
    },
    {
      title: "Company",
      items: [
        { name: "About", link: "/about" },
        { name: "Careers", link: "/careers" },
        { name: "Contact Us", link: "/contact" },
        { name: "Why OpenObserve?", link: "/why-choose-us" },
      ],
    },
    {
      title: "Resources",
      items: [
        { name: "Documentation", link: "https://openobserve.ai/docs/" },
        { name: "Blog", link: "/blog" },
        // { name: "Enterprise Support", link: "/enterprise-support" },
        // { name: "Community Support", link: "/community-support" },
      ],
    },
    {
      title: "Community",
      items: [
        {
          name: "Slack",
          link: "https://join.slack.com/t/zincobserve/shared_invite/zt-11r96hv2b-UwxUILuSJ1duzl_6mhJwVg",
        },
        { name: "Github", link: "https://github.com/openobserve/openobserve" },
        { name: "Twitter", link: "https://twitter.com/OpenObserve" },
        {
          name: "LinkedIn",
          link: "https://www.linkedin.com/company/openobserve",
        },
        { name: "YouTube", link: "https://www.youtube.com/@openobserve" },
      ],
    },
  ],

  copyright: {
    text: "OpenObserve Inc. © 2025",
    link: "#",
  },
  tos: {
    text: "Terms Of Service",
    link: "#",
  },
  pp: {
    text: "Privacy Policy",
    link: "#",
  },
  githubStats: [
    { icon: "/git.svg", label: "Star", count: "13,483", link: "#" },
    { icon: "/git.svg", label: "Fork", count: "492", link: "#" },
  ],
};

// Accept SEO metadata as props
const { metaObj } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <SEO title={metaObj?.title} description={metaObj?.description} />
    <!-- type={type}
      publishedTime={publishedTime}
      modifiedTime={modifiedTime} -->
  </head>
  <body class="relative">
    <main>
      <Header
        navData={NavData}
        class="sticky top-0 z-50 bg-black/50 backdrop-blur-3xl"
        client:only
      />
      <div class="navbarheight">
        <slot />
      </div>
      <Footer footerData={footerData} client:load />
    </main>
  </body>
</html>

<style>
  html,
  body {
    background: #010101;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
  }

  .navbarheight {
    padding-top: 1vh;
  }
</style>
