---
import Header from "../components/header/Header.vue";
import Footer from "../components/footerComponent/Footer.vue";
import "@/styles/global.css";
import { SEO } from "astro-seo";
import PricingModelPopUp from "@/components/core/PricingModelPopUp.vue";
import { fetchBannerData } from "../utils/api/globalApi";
import fetchApi from "../utils/strapi";

const HeaderData = await fetchApi({
  endpoint: "api/header",
  query: { pLevel: "4", status: "draft" },
});

const FooterData = await fetchApi({
  endpoint: "api/footer",
  query: { pLevel: "4", status: "draft" },
});

// Accept SEO metadata as props
const { metaObj } = Astro.props;
const BannerData = await fetchBannerData();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script src="/js/zinc.js" is:inline defer async></script>
    <script src="/js/clarity.js" is:inline defer async></script>
    <script src="/js/vector_co.js" is:inline defer async></script>
    <script src="/js/rb2b.js" is:inline defer async></script>
    <script
      src="https://plausible.io/js/script.js"
      is:inline
      defer
      async
      data-domain="openobserve.ai"></script>
    <script
      src="https://www.googletagmanager.com/gtag/js?id=G-3383ZJ2HH7"
      is:inline></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []; 
      function gtag(...args) {
        dataLayer.push(args);
      }
      gtag("js", new Date());
      gtag("config", "G-3383ZJ2HH7");
    </script>

    <meta name="generator" content={Astro.generator} />
    <SEO title={metaObj?.title} description={metaObj?.description} />
    <!-- type={type}
      publishedTime={publishedTime}
      modifiedTime={modifiedTime} -->
  </head>
  <body class="relative">
    <main>
      <Header
        navData={HeaderData?.data}
        class="sticky top-0 z-50 bg-black/50 backdrop-blur-3xl"
        client:only
      />
      <PricingModelPopUp
        primaryButton={BannerData?.data?.secondaryButton}
        bottomText={BannerData?.data?.bottomText}
        monthlyText={BannerData?.data?.monthlyText}
        items={BannerData?.data?.items}
        featureTitle={BannerData?.data?.featureTitle}
        client:load
      />
      <div class="navbarheight">
        <slot />
      </div>
      <Footer
        footerData={FooterData?.data?.footerData}
        copyRightText={FooterData?.data?.copyRightText}
        termsOfService={FooterData?.data?.termsOfService}
        privacyText={FooterData?.data?.privacyText}
        socialMedia={FooterData?.data?.socialMedia}
        address={FooterData?.data?.address}
        client:load
      />
    </main>
  </body>
</html>

<style>
  html,
  body {
    background: #010101;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
  }

  .navbarheight {
    padding-top: 1vh;
  }
</style>
