---
import Header from "../components/header/Header.vue";
import Footer from "../components/footerComponent/Footer.vue";
import NavData from "../content/header.json";
import "@/styles/global.css";
import { SEO } from "astro-seo";
import PricingModelPopUp from "@/components/core/PricingModelPopUp.vue";
import { fetchBannerData } from "../utils/api/globalApi";
import fetchApi from "../utils/strapi";
import Search from "astro-pagefind/components/Search";
const footerData = {
  sections: [
    {
      title: "Platform",
      items: [
        { name: "Logs", link: "/platform/logs", target: "" },
        { name: "Metrics", link: "/platform/metrics", target: "" },
        { name: "Traces", link: "/platform/traces" },
        {
          name: "Frontend Monitoring",
          link: "/platform/frontend-monitoring",
          target: "",
        },
        { name: "Pipelines", link: "/platform/pipelines", target: "" },
        { name: "Alerts", link: "/platform/alerts", target: "" },
        {
          name: "Visualizations & Dashboard",
          link: "/platform/visualization-and-dashboards",
          target: "",
        },
      ],
    },
    {
      title: "Solutions",
      items: [
        {
          name: "Azure Monitoring",
          link: "/solutions/azure-monitoring",
          target: "",
        },
        {
          name: "AWS Monitoring",
          link: "/solutions/aws-monitoring",
          target: "",
        },
        {
          name: "GCP Monitoring",
          link: "/solutions/gcp-monitoring",
          target: "",
        },
        {
          name: "Kubernetes Observability",
          link: "/solutions/kubernetes-observability",
          target: "",
        },
        {
          name: "Database Monitoring",
          link: "/solutions/database-monitoring",
          target: "",
        },
        { name: "OpenTelemetry", link: "/solutions/opentelemetry", target: "" },
        {
          name: "DevOps & SRE",
          link: "/solutions/devops-sre",
          target: "",
        },
        {
          name: "Development Teams",
          link: "/solutions/development-teams",
          target: "",
        },
      ],
    },
    {
      title: "Company",
      items: [
        { name: "About", link: "/about", target: "" },
        { name: "Careers", link: "/careers", target: "" },
        { name: "Contact Us", link: "/contactus", target: "" },
        { name: "Why OpenObserve?", link: "/why-choose-us", target: "" },
      ],
    },
    {
      title: "Resources",
      items: [
        {
          name: "Documentation",
          link: "https://openobserve.ai/docs/",
          target: "_blank",
        },
        { name: "Blog", link: "/blog", target: "" },
        { name: "FAQs", link: "/faqs", target: "" },
        { name: "Articles", link: "/articles", target: "" },
        // { name: "Enterprise Support", link: "/enterprise-support" },
        // { name: "Community Support", link: "/community-support" },
      ],
    },
    {
      title: "Community",
      items: [
        {
          name: "Slack",
          link: "https://short.openobserve.ai/community",
        },
        { name: "Github", link: "https://github.com/openobserve/openobserve" },
        { name: "Twitter", link: "https://twitter.com/OpenObserve" },
        {
          name: "LinkedIn",
          link: "https://www.linkedin.com/company/openobserve",
        },
        { name: "YouTube", link: "https://www.youtube.com/@openobserve" },
      ],
    },
  ],

  copyright: {
    text: "OpenObserve Inc. © 2025",
    link: "#",
  },
  tos: {
    text: "Terms Of Service",
    link: "/policies/terms-of-service",
    target: "_blank",
  },
  pp: {
    text: "Privacy Policy",
    link: "/policies/privacy-policy",
    target: "_blank",
  },
  githubStats: [
    { icon: "/git.svg", label: "Star", count: "13,483", link: "#" },
    { icon: "/git.svg", label: "Fork", count: "492", link: "#" },
  ],
};

const HeaderData = await fetchApi({
  endpoint: "api/header",
  query: { pLevel: "4", status: "draft" },
});

const FooterData = await fetchApi({
  endpoint: "api/footer",
  query: { pLevel: "4", status: "draft" },
});

// Accept SEO metadata as props
const { metaObj } = Astro.props;
const BannerData = await fetchBannerData();

// open a model when the search icon is clicked and get the true from the window obje
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script src="/js/zinc.js" is:inline></script>
    <script src="/js/clarity.js" is:inline></script>
    <script src="/js/vector_co.js" is:inline></script>
    <meta name="generator" content={Astro.generator} />
    <SEO title={metaObj?.title} description={metaObj?.description} />
    <!-- type={type}
      publishedTime={publishedTime}
      modifiedTime={modifiedTime} -->
  </head>
  <body class="relative">
    <main>
      <!-- Listen for the open-search-modal event -->
      <script is:inline>
        window.addEventListener("open-search-modal", () => {
          const searchModal = document.getElementById("search-modal");
          if (searchModal) {
            searchModal.classList.remove("hidden");
            // searchModal.classList.add("pagefind-ui");
          }
        });
      </script>
      <Header navData={HeaderData?.data} class="sticky top-0 z-50 bg-black/50 backdrop-blur-3xl" client:only />
      <!-- Pagefind Search Component -->
      <Search
        id="search-modal"
        className="hidden"
        uiOptions={{ showImages: false }}
      />
      <PricingModelPopUp
        primaryButton={BannerData?.data?.secondaryButton}
        bottomText={BannerData?.data?.bottomText}
        monthlyText={BannerData?.data?.monthlyText}
        items={BannerData?.data?.items}
        featureTitle={BannerData?.data?.featureTitle}
        client:load
      />
      <!-- Import your modal component here -->
      <div class="navbarheight">
        <slot />
      </div>
      <Footer
        footerData={FooterData?.data?.footerData}
        copyRightText={FooterData?.data?.copyRightText}
        termsOfService={FooterData?.data?.termsOfService}
        privacyText={FooterData?.data?.privacyText}
        socialMedia={FooterData?.data?.socialMedia}
        address={FooterData?.data?.address}
        client:load
      />
    </main>
  </body>
</html>

<style>
  html,
  body {
    background: #010101;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
  }

  .navbarheight {
    padding-top: 1vh;
  }


</style>
