---
import "@/styles/global.css";
import navData from "@/content/navbar.json";
import FooterData from "@/content/footer.json";
import Footer from "@/components/footer/Footer.vue";
import Header from "@/components/header/Header.vue";
import SEO from "@/components/SEO.astro";

// Accept SEO metadata as props
const { metaObj } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO title={metaObj?.title} description={metaObj?.description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap&subset=latin"
      rel="stylesheet"
      media="all"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"
    />
  </head>
  <body class="">
    <Header navData={navData?.data} client:only />
    <main class="pt-[66px] md:pt-[78px] min-h-[calc(100vh-10rem)]">
      <slot />
    </main>
    <Footer
      footerData={FooterData?.data?.footerData}
      copyRightText={FooterData?.data?.copyRightText}
      termsOfService={FooterData?.data?.termsOfService}
      privacyText={FooterData?.data?.privacyText}
      socialMedia={FooterData?.data?.socialMedia}
      address={FooterData?.data?.address}
      client:only
    />
    <!-- CookieConsent Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"
      defer></script>
    <script is:inline>
      window.addEventListener("load", function () {
        window.cookieconsent.initialise({
          palette: {
            popup: { background: "#000" },
            button: { background: "#f1d600" },
          },
          theme: "classic",
          position: "bottom-right",
          type: "opt-in",
          content: {
            message: "We use cookies to ensure you get the best experience.",
            allow: "Accept",
            dismiss: "Decline",
            link: "Privacy Policy",
            href: "/policies/privacy-policy",
          },
          cookie: {
            name: "cookieconsent_status",
            expires: 365,
          },
          revokable: true,
          showLink: true,
          law: {
            regionalLaw: false,
          },

          onInitialise: function (status) {
            const type = this.options.type;
            const didConsent = this.hasConsented();
            if (type === "opt-in" && didConsent) {
              loadGoogleAnalytics();
            }
          },

          onStatusChange: function (status, chosenBefore) {
            const didConsent = this.hasConsented();
            if (didConsent) {
              loadGoogleAnalytics();
            }
          },
        });

        function loadGoogleAnalytics() {
          if (window.gaInitialized) return; // prevent multiple loads
          window.gaInitialized = true;

          const script = document.createElement("script");
          script.src =
            "https://www.googletagmanager.com/gtag/js?id=G-3383ZJ2HH7"; // replace with your ID
          script.async = true;
          document.head.appendChild(script);

          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          window.gtag = gtag;
          gtag("js", new Date());
          gtag("config", "G-3383ZJ2HH7"); // replace with your ID
        }
      });
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
  }
</style>
